*.swp
*.out
*.retry
.aws/*
**/.aws
**/.aws/**
.ssh/*
**/.ssh
**/.ssh/**
.vagrant/*
**/.vagrant
**/.vagrant/**
.ansible/*
**/.ansible
**/.ansible/**
bin/*
**/inventory.yml
.terraform
.terraform*
**/.terraform
**/.terraform/**
terraform.tfstate
terraform.tfstate*
*ssh-key
*ssh-key*
.vscode
.DS_store
**/outputs
**/outputs/**
cert.pem
